# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
gradlew.bat
settings.gradle
gradlew
gradle/wrapper/gradle-wrapper.properties
gradle/wrapper/gradle-wrapper.jar
.gitattributes
app/src/main/java/Extrato_output_main.txt.txt
